* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background: red;
    color: white;
    height: 50px;
    display: grid;
    align-items: center;;
}

.header__container {
    max-width: 1400px;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header__toggle {

}

.header__checkbox {
    opacity: 0;
    position: absolute;
}

.header__label {
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.header__ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.header__checkbox:checked + .header__label .header__ball {
    transform: translateX(24px);
}

.talk {
    font-size: 3rem;
    border-radius: 50%;
    text-align: center;
    width: 4rem;
    height: 4rem;
    background: blue;
    color: white;
    border: 2px solid white;
}

.todos {
    height: calc(100vh - 50px);
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.talk__container {
    display: grid;
    place-items: center;
    
}